:root {
    --font: 'Philosopher', sans-serif;
    --drkBrwn: #352903;
    --lightBrwn: #a07d0c;
    --cornYllw: #e2cc08;
    --offWhite: rgba(250, 235, 215, 0.925);
    --tomatoRed: #cc2020;
}
 
 * {
    font-family: var(--font)
}

.header-container {
    width: 100%;
    position: relative;
    display: flex;
    & h1 {
        position: absolute;
        top: 25%;
        right: 40%;
        color: aliceblue;
    }   
}
.background-image {
    max-width: 100%;
    max-height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#head-intro {
    background-color: var(--lightBrwn);
    position:relative; 
    top: 1%;
    right: 0%;
    font-size: 300%;
    color:black;
    text-align: center; 
    margin-bottom: 2vh;
} 

#nav_bar {

}

#searchContainer {
    
}

.searchBtn {
    position: relative;
    left: 2%;
    background-color: #352903;
    color: var(--offWhite);
    
}

.searchBtn:hover {
    background-color: var(--lightBrwn);
    color: var(--cornYllw);
}

.clearBtn {
    position: relative;
    background-color: var(--drkBrwn);
    color: var(--offWhite);

}

.clearBtn:hover {
    background-color: #a07d0c;
    color: #e2cc08;
}

ul {
    list-style-type: none;
    margin: 0;
    /* padding: 0; */
    overflow: hidden;
    background-color: var(--tomatoRed);
  }
  
  li {
    float: Right;
  }
  
  li a {
    display: block;
    color: var(--offWhite);
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: var(--lightBrwn);
    color: var(--cornYllw);
  }
  
  .active {
    background-color:rgb(14, 160, 75);
  }

.favoriteContainer {
    
}

.viewBtn {
    background-color: #352903;
    color: antiquewhite;
}